<h2><%= t('places.views.search.title') %></h2>

<div id="map-box">
	<div style="width:100%; height:400px;" id="map" class="selectable-for-search radio-3 shadowed-light"></div>
</div>
<%= form_tag places_search_path do %>
	
	<%= text_field_tag "search[place[name]]" %>
	<%= text_field_tag "search[place[description]]" %>
	<%= label_tag t('places.views.search.fields.consider_map_visible_area') %>
	<%= check_box_tag "search[place[map_enabled]]", nil, true %>
	
	<%= hidden_field_tag 'search[place[coordinates[sw]]]' %>
	<%= hidden_field_tag 'search[place[coordinates[ne]]]' %>
	
	<div class="map-search-msgs">
		<%= t('places.views.search.suggestions.select_map_area') %>
	</div>
	
	<div class="cats">
		<% @categories.each do |cat| %>
			<%= check_box_tag "search[place[categories[#{cat.id}]]]", nil, true , :class => "item", :id => cat.standard_name %>
			<%= I18n.t("categories.all.#{cat.standard_name}") %>
		<% end %>
	</div>
	
	<%= submit_tag t('actions.search') %>
<% end %>