<%= content_for :header do %>
	<h1 class="inlined large"><%= t('places.views.index.title') %><span class="type rounded-5"><%= t('actions.search') %></span></h1>
	<ul class="inlined actions-list">
		<li><%= link_to "&larr; #{t('actions.return')}".html_safe, places_path, :class => 'plain' %></li>
	</ul>
<% end %>

<%= content_for :classes_for_map, "selectable-for-search" %>

<%= content_for :map_area do %>
	<div class="search-box rounded-top-5 shadow-light">
	<%= form_tag places_search_path do %>
	
		<div class="styled-form">
			
			<p class="map-search-msgs"><%= t('places.views.search.suggestions.select_map_area') %></p>
			
			<%= text_field_tag "search[place[name]]", nil,  :placeholder => t('places.views.search.form.name'), :size => 20, :class => "field" %>
			<%= text_field_tag "search[place[description]]", nil, :placeholder => t('places.views.search.form.description'), :size => 40, :class => "field" %>

			<%= hidden_field_tag "search[place[map_enabled]]", true %>
			<%= hidden_field_tag 'search[place[coordinates[sw]]]', {}, :id => 'coordinates_sw' %>
			<%= hidden_field_tag 'search[place[coordinates[ne]]]', {}, :id => 'coordinates_ne' %>

			

			<div class="cats">
				<% @categories.each do |cat| %>
					<%= check_box_tag "search[place[categories[#{cat.id}]]]", nil, true , :class => "item", :id => cat.standard_name %>
					<%= I18n.t("categories.all.#{cat.standard_name}") %>
				<% end %>
			</div>
		</div>
		<%= submit_tag t('actions.search'), :class => "button orange to-right" %>
	<% end %>
	</div>
	
<% end %>

