<% if user_signed_in? %>
	<% if @place.owned_by?(current_user) %>
		<%= button_to t('places.common_actions.recommending'), 'javascript:void(0);', :class => 'display-js-notification' %>
		<% content_for(:notifications) do %>
			<p class="hidden"><%= t('places.messages.error.only_owner_cannot_stop_recommending') %></p>
		<% end %>
	<% elsif @place.recommended_by?(current_user) %>
		<%= button_to t('places.common_actions.recommending'), places_recommendation_off_path(@place), :method => :put, :remote => true %>
	<% else %>
		<%= button_to t('places.common_actions.recommend'), places_recommendation_on_path(@place), :method => :put, :remote => true %>
	<% end %>
<% else %>
	<%= button_to t('places.common_actions.recommend'), 'javascript:void(0);', :class => 'display-js-notification' %>
	<% content_for(:notifications) do %>
		<p class="hidden"><%= t('places.messages.error.login_required', :action => t('places.messages.error.complements.recommend')) %></p>
	<% end %>
<% end %>