<div id="main-bar" class="shadow-strong">
	<%= render 'layouts/shared/top_menu' %>
	<div class="separator"></div>
	<h1><%= link_to t('app.name'), root_path %></h1>
	<p class="motto"><%= t('app.motto') %></p>
	<div class="menu">
		<%= menu_section_for(:bikes) %>
		<% #menu_section_for(:places) %>
		<%= menu_section_for(:incidents, :map) %>
		<% menu_section_for(:street_marks, :map) %>
		<%= menu_section_for(:welcome) %>
	</div>
</div>