<div id="main-bar" class="shadow-strong">
	<%= link_to '', root_path, :class => 'logo' %>
	<div class="subtle-back"></div>
	<div class="notifications">
		<%= render 'layouts/shared/session' %>
	</div>
	
	<div class="menu">
		<%= menu_section_for(:welcome) %>
		<%= menu_section_for(:routes, :map) %>
		<%= menu_section_for(:incidents, :map) %>
		<%= menu_section_for(:places, :map) %>
		<%= menu_section_for(:highlights, :map) %>
		<%= menu_section_for(:bikes) %>
	</div>
	

</div>