<div class="incident-details hidden">
	<div class="separator"></div>
	
	<div class="lat hidden"><%= incident.coordinates.lat %></div>
	<div class="lon hidden"><%= incident.coordinates.lon %></div>
	
	<% if incident.is_of_kind?(:theft) %>
		<div class="extra-fields rounded-5">
			<span><%= t('activerecord.attributes.incident.attacher_used') %>: </span>
			<div class="value to-right"><%= false ? t('missing') : '---' %></div>
			<br/>
		</div>
	<% elsif incident.is_of_kind?(:accident) || incident.is_of_kind?(:regulation_infraction) %>
		<div class="extra-fields rounded-5">
			<span><%= t('activerecord.attributes.incident.vehicle_identifier') %>: </span>
			<div class="value to-right"><%= incident.vehicle_identifier || "---" %></div>
		</div>
	<% end %>
	
	<p class="complaint_issued">
		<%= t('incidents.views.index.list.item.complaint_issued')[incident.complaint_issued] %>
	</p>
</div>