<div class="styled-form">
	
	<%= f.select :availability, boolean_options_for_select(status.availability), {}, :class => 'bike_statuses_availability' %>
	<%= f.hidden_field :concept, :value => Bike.category_for(:statuses, :sell) %>
	<div class="dependent-fields <%= "hidden" unless status.availability %>">
		<%= currency_field_for(f, :price, status.price, t('bike_statuses.views.form.price')) %>		
	</div>
	<%= f.submit t('actions.save') %>
</div>
