<div class="header actions">	
	<% if user_signed_in? %>
		<% if evaluation_survey=@place.evaluation_from(current_user) %>
			<%= link_to t('places.common_actions.re_evaluate'), places_edit_evaluation_path(@place, evaluation_survey), :remote => true, :class => 'button blue' %>
		<% else %>
			<%= link_to t('places.common_actions.evaluate'), places_new_evaluation_path(@place), :remote => true, :class => "button blue" %>
		<% end %>
	<% else %>
		<%= link_to t('places.common_actions.evaluate'), 'javascript:void(0);', :class => 'display-js-notification button blue' %>
		
		<script type="text/x-handlebars-template" id="message" class="hidden">
			<p><%= t('places.messages.error.login_required', :action => t('places.messages.error.complements.evaluate')) %></p>
		</script>
	<% end %>
</div>


<div class="poll-results" id="meta-survey-<%= @place.category.meta_survey.id %>">
	<% @place.category.meta_survey.meta_questions.each do |meta_question| %>
		<div id="meta-question-<%= meta_question.id %>" class="question">
			<label><%= meta_question.title %></label>
			<div class="answers">
				<% meta_question.meta_answer_items.each do |meta_answer_item| %>
					<span id="meta-answer-item-<%= meta_answer_item.id %>" class="value count-<%= @place.evaluation_count_for(meta_answer_item) %>">
						<%= meta_answer_item.human_value %>
					</span>
				<% end %>
			</div>
		</div>
	<% end %>
</div>


