<div id="searching">
	<div class="search with-aligned-inputs styled-form clear-void">
		<%= top_section_menu_for(link_to(t('app.sections.incidents.title'), hash_link_for(map_incidents_path)), t('incidents.views.filtering.title')) %>
		
		<%= form_tag filtering_map_incidents_path, :method => :get, :remote => true do %>
			<div>
				<label><%= t('incidents.views.filtering.kinds')%></label>
				
				<div class="group rounded-5">
					<div>
						<%= check_box_tag "incident[type[theft]]", 1, true %>
						<span><%= t('bikes.categories.incidents.theft') %></span>
					</div>
					<div>
						<%= check_box_tag "incident[type[assault]]", 1, true %>
						<span><%= t('bikes.categories.incidents.assault') %></span>
					</div>
					<div>
						<%= check_box_tag "incident[type[accident]]", 1, true %>
						<span><%= t('bikes.categories.incidents.accident') %></span>
					</div>
					<div>
						<%= check_box_tag "incident[type[regulation_infraction]]", 1, true %>
						<span><%= t('bikes.categories.incidents.regulation_infraction') %></span>
					</div>
				</div>
				
			</div>
			<br/>
	
			<div>
				<%= label_tag t('incidents.views.filtering.date_and_time') %>
				<%= select_tag "incident[range_date]", options_for_select(humanized_dates_for_filter.invert) %>
			</div>
	
			<div>
				<label><%= t('incidents.views.filtering.complaint_issued') %></label>
				<%= select_tag "incident[complaint_issued]", 
						options_for_select({t('common_answers')[true] => true, t('common_answers')[false] => false}),  
						{:include_blank => true} %> 
			</div>
				
			<div>
				<label><%= t('incidents.views.filtering.map_search') %></label>
				<%= check_box_tag "incident[map_enabled]" %>
			</div>
			<%= hidden_field_tag 'incident[coordinates[sw]]]', {}, :id => 'coordinates_sw' %>
			<%= hidden_field_tag 'incident[coordinates[ne]]]', {}, :id => 'coordinates_ne' %>
	
			<div class="actions to-right">
				<%= link_to t('actions.close'), hash_link_for(map_incidents_path) %>
				<%= submit_tag t('actions.accept'), :class => "button green-button", :id => 'filtering-start' %>
			</div>
			<div class="clear"></div>
		<% end %>
	</div>
</div>