<div class="<%= incident.symbol_kind.to_s.pluralize %>">
	<div id="<%= incident.id %>" class="item rounded-5">
		<% if incident.is_bike_related? %>
			<%= info_for(incident.bike) %>
		<% end %>
		<div class="description"><%= shrink_text incident.description %></div>
		
		<div class="to-right">
			<span class="time"><%= distance_of_time_in_words(incident.date, Time.now, true) %></span> 
			<span class="reporter"><%= reporter_of(incident) %></span>
		</div>
	
		<div class="clear"></div>

	
		<div class="lat hidden"><%= incident.coordinates.lat %></div>
		<div class="lon hidden"><%= incident.coordinates.lon %></div>
	
	
	</div>
</div>