<div id="list_incidents">
	<% Bike.category_list_for(:incidents).values.each do |kind| %>
		<div class="<%= kind.to_s.pluralize %>">
	
			<div class="kind-group">
				<h2><%= t("incidents.views.index.listing.#{kind}") %></h2>
				
				<% incidents_for_category = @incidents[Bike.category_for(:incidents, kind)] %>
				
				<div id="paginated-<%= kind.to_s.pluralize %>">
					<% unless incidents_for_category.nil? %>
						<%= render incidents_for_category %>
					<% else %>
						<p class="empty"><%= t("incidents.views.index.#{kind.to_s}.empty") %></p>
					<% end %>
				</div>
				
			</div>
		
		</div>
	<% end %>
</div>