<h2><%=t 'user_accounts.registrations.oauth.facebook.new.title'%></h2>

<%= form_for(@user, :as => :user, :url => users_auth_sign_up_path) do |f| %>
	
	<%= devise_error_messages! %>

	<%= render :partial => 'form', :locals =>  {:f => f} %>
	
  <div><%= f.submit t('user_accounts.registrations.oauth.commit') %></div>
<% end %>

<%= link_to t('actions.registrations.cancel'), users_cancel_auth_sign_up_path, :method => :delete %>
