<div>
	<p class="centered-text"><%= t('user_accounts.settings.sections.access.recover_password') %></p>
	<% if @user.externally_registered %>
		<p class="centered-text emph-small centered"><%= t('user_accounts.settings.sections.access.set_password_for_external_registration') %></p>
	<% end %>
	<br/>
	<div class="centered-text">
	<%= link_to t("user_accounts.passwords.#{@user.externally_registered ? "set" : "reset" }_password"), 'javascript:alert("Función no habilitada aún")', :class => 'button red-button' %>
	<%= form_for(@user, :url => user_password_path, :html => { :method => :post }) do |f| %>
	  <%= f.hidden_field :email, :value => @user.email %>
			<% f.submit t("user_accounts.passwords.#{@user.externally_registered ? "set" : "reset" }_password"), :class => 'button red-button' %>
	<% end %>
	</div>
	
</div>
<br/>