<%= content_for :menu do %>
	<%= render :partial => 'shared_actions', :locals => {:menu => {:access => 'selected'}} %>
<% end %>

<span><%= t('user_accounts.settings.sections.access.reset_password') %></span>
<%= form_for(@user, :url => user_password_path, :html => { :method => :post }) do |f| %>
  <%= f.hidden_field :email, :value => @user.email %>
  <div class="to-right"><%= f.submit t('user_accounts.settings.sections.access.reset'), :class => 'button red-button' %></div>
	<div class="clear"></div>
<% end %>
<br/>
<% unless @user.authorizations.empty? %>
	<span class="note"><%= t('user_accounts.settings.sections.access.external_reset') %></span>
<% end %>

<div class="separator"></div>
<br/>
<%= form_for(@user, :url => settings_changed_path(@user), :html => { :method => :put }) do |f| %>
		
	<%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
	
	<label><%= t('user_accounts.settings.sections.access.current_password') %></label>
  <%= password_field_tag :current_password %>
	<br/>
	<div class="actions to-right">
		<%= f.submit t("user_accounts.settings.save") %>
	</div>
	<div class="clear"></div>
<% end %>