<%= content_for :menu do %>
	<%= render :partial => 'shared_actions', :locals => {:menu => {:access => 'selected'}} %>
<% end %>

<p class="centered-text"><%= t('user_accounts.settings.sections.access.recover_password') %></p>
<%= form_for(@user, :url => user_password_path, :html => { :method => :post }) do |f| %>
  <%= f.hidden_field :email, :value => @user.email %>
  <div class="centered-text"><%= f.submit t('user_accounts.settings.sections.access.reset'), :class => 'button red-button' %></div>
<% end %>
<br/>
<div class="separator"></div>

<div class="authorizations">
	<h2><%= t('user_accounts.settings.authorizations.title') %></h2>
	<p class="centered-text"><%= t('user_accounts.settings.sections.access.social_networks') %></p>
	
	<div class="list">
		<% Authorization.supported.each do |auth| %>
			<%= render :partial => 'authorization', :locals => { :auth => auth } %>
		<% end %>
	</div>
	
</div>

<div class="separator"></div>
<br/>
<p class="centered-text"><%= t('user_accounts.settings.sections.access.reset_password') %></p>
<%= form_for(@user, :url => settings_changed_path(@user), :html => { :method => :put }) do |f| %>
		
	<%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
	
	<label><%= t('user_accounts.settings.sections.access.current_password') %></label>
  <%= password_field_tag :current_password %>
	<br/>
	<div class="actions to-right">
		<%= f.submit t("user_accounts.settings.save") %>
	</div>
	<div class="clear"></div>
<% end %>