<%= content_for :menu do %>
	<%= render :partial => 'shared_actions', :locals => {:menu => {:profile => 'selected'}} %>
<% end %>

<div class="name rounded-5">
	<span class="name"><%= @user.full_name %></span> <%=link_to t("user_accounts.settings.sections.profile.change_name"), settings_account_path %>
</div>

<%= form_for(@user, :url => settings_changed_path(@user), :html => { :method => :put }) do |f| %>

	<div class="field">
		<%= f.label :bio %>
  	<%= f.text_area :bio, :rows => 5, :cols => 30 %>
	</div>
	
	<div class="field">
		<%= f.label :personal_page %>
  	<%= f.text_field :personal_page %>
	</div>
	
	<div class="field">
		<%= f.label :email_visible %>
		<%= f.check_box :email_visible %>
	</div>
	
	<div class="field">
		<%= f.label :started_cycling_date %>
		<%= f.date_select :started_cycling_date %>
	</div>
	<div class="actions to-right">
		<%= f.submit t("user_accounts.settings.save") %>
	</div>
	<div class="clear"></div>
<% end %>
