<div class="polls">
		
<div id="questions-count" class="hidden"><%= StreetMarkRanking.aspects.count %></div>
<% StreetMarkRanking.aspects.each do |aspect| %>
	<div class="question">
		<label><%= t("street_mark_rankings.aspects.#{aspect}.title") %></label>
		<div class="answers" >
			<% StreetMarkRanking.aspects_options[aspect].each do |option| %>
				<%= radio_button_tag StreetMarkRanking.aspect_field_for(aspect), option, false, :class => "answer" %>
				<span class="value"><%= t("street_mark_rankings.aspects.#{aspect}.options.#{option}") %></span>
			<% end %>
		</div>
	</div>
<% end %>
</div>

<div class="to-right">
	<span class="instructions hidden"><%= t('street_marks.show.instructions') %></span>
	<%= link_to t('street_marks.form.actions.save'), 'javascript:void(0);', :class => 'rank button green-button' %>
</div>
