<div id="<%= bike.id %>" class="bike shadow-light">
	<div>
		<h2><%= link_to bike.name, bike_path(bike) %></h2>
		<p class="brand"><%= bike.brand %></p>
		<div class="owner">
			<%= t('bikes.views.show.owned_by') %><%= link_to bike.owner, '#' %>
		</div>
		<div class="photo"><%= image_tag bike.main_photo.url(:medium), :class => "main" %></div>
	</div>
	<div class="status">
		<%= render :partial => 'bikes/likes_count', :locals => {:bike => bike } %>
		<p class="comments"><span class="count"><%= bike.comments.count %></span>
			<a href="<%= bike_path(bike)%>#comments"><%= t("bikes.views.show.comments.#{bike.comments.count == 1 ? 'one' : 'some'}") %></a>
		</p>
	</div>
</div>