<div class="centered">
	<%= render :partial => 'shared/form_errors', :locals => {:message => t('bikes.views.errors.on_save'), :object => @bike} %>
	
	<div class="field">
		<p id="bike_name_not_empty" class="error"><%= t('bikes.views.form.validations.name') %></p>
		<%= f.text_field :name, :placeholder => t('bikes.views.form.name'), :size => 40 %>
	</div>
	
	<div class="field">
		<%= f.text_field :frame_number, :placeholder => t('bikes.views.form.frame_number'), :size => 20 %>
		<div class="hidden frame_number_help"><%= t('bikes.views.form.help.frame_number') %></div>
	</div>
	
	<div class="field">
		<p id="bike_description_not_empty" class="error"><%= t('bikes.views.form.validations.description') %></p>
		<%= f.text_area :description, :placeholder => t('bikes.views.form.description'), :cols => 58, :rows => 2 %>
		<div id="bike_description_count" class="field-counter"></div>
	</div>
	
	
	<p id="bike_kind_not_empty" class="error"><%= t('bikes.views.form.validations.kind') %></p>
	<p id="bike_bike_brand_id_not_empty" class="error"><%= t('bikes.views.form.validations.bike_brand') %></p>
	<div class="with-label">
		<%= f.label :kind, t('bikes.views.form.kind') %>
		<%= f.select :kind, options_for_select(Bike.humanized_categories_for(:types).invert, @bike.kind), :include_blank => true %>
	</div>
	<div class="with-label">
		<%= f.label :bike_brand, t('bikes.views.form.brand') %>
		<%= f.select :bike_brand_id, options_from_collection_for_select(BikeBrand.ordered, :id, :name, @bike.bike_brand_id), :include_blank => true %>
	</div>
	<br/>
	
	<% if note %>
	<p class="note-message"><%= note %></p>
	<% end %>
	
	<div class="field with-label">
		<p id="bike_main_photo_max" class="error"><%= t('bikes.views.form.validations.file_size') %></p>
		<p id="bike_main_photo_regexp" class="error"><%= t('bikes.views.form.validations.file_name_format') %></p>
		<p id="bike_main_photo_not_empty" class="error"><%= t('bikes.views.form.validations.file_name') %></p>
		<%= f.label :main_photo, t('bikes.views.form.main_photo') %>
		<%= f.file_field :main_photo %>
	</div>
</div>