<div class="mid-sheet">
	<div class="styled-form shadow-light">
		<%= link_to t('actions.back'), bike_path(@bike), :class => 'back' %>
		<h1><%= t('bikes.views.edit.title') %></h1>
		<%= form_for @bike, :method => :put, :html => {:multipart => true, :class => 'bike-upload edit-bike'} do |f| %>
			<%= render :partial => 'form', :locals => {:f => f, :note => t('bikes.views.edit.change_photo') } %>
			<%= f.submit t('bikes.actions.update'), :id => 'submit-with-photo' %>
		<% end %>
		<br/>
	</div>
	<div class="alert-zone shadow-light centered">
		<p><%= t('bikes.views.edit.destroy')%></p>
		<%= link_to t('bikes.actions.delete'), bike_path(@bike), :method => :delete, :class => "button red-button to-right", :confirm => t('bikes.messages.confirm_delete') %>
		<div style="clear:both"></div>
	</div>
</div>
