<%= render 'shared/notice' %>

<% content_for :main_bar do %>
	<h1><%= t('app.name') %></h1>
<% end %>

<div id="container" class="masonry">
	<% if @bikes.empty? %>
		
		<h1 class="empty"><%= t('bikes.views.index.empty.message') %></h1>
		<p class="empty"><%= link_to t('bikes.views.index.empty.invite'), new_bike_path %></p>
		
	<% else %>
		<% @bikes.each do |bike| %>
			<%= render bike %>
		<% end %>
	<% end %>
</div>


