<div class="mid-sheet">
	<div class="styled-form shadow-light">
		<%= link_to t('actions.back_arrow').html_safe, bikes_path, :class => 'back' %>
		<h1><%= t('bikes.views.new.title') %></h1>
		<%= form_for @bike, :html => { :class => 'bike-upload'} do |f| %>
			<%= render :partial => 'form', :locals => {:f => f} %>
			<%= f.submit t('bikes.actions.save'), :id => 'submit-with-photo' %>
		<% end %>
	</div>
</div>