<div class="small-sheet">
	<div class="styled-form shadow-light">
		<%= link_to t('actions.back'), new_user_session_path, :class => 'back' %>
		<h1><%= t("user_accounts.forgot_password") %></h1>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.email_field :email, :placeholder => t('activerecord.attributes.user.email') %>
	
			<%= f.submit t("user_accounts.passwords.reset_password") %>
		<% end %>
	</div>
</div>

