<div id="place-<%= place.id %>">
	<div class="order-<%= place_counter %>"></div>
	
	<div class="image"></div>
	<div class="details">
		<span class="name"><%= link_to place.name, place_path(place) %></span>
		<span class="address"><%= place.address %></span>
	</div>
	
	<div class="mo-index">
		<span class="name"><%= place.mobility_kindness_index %></span>
		<%= Place.human_attribute_name(:mobility_kindness_index) %>
	</div>
	
</div>