<%= content_for(:top_container) do %>
	<div style="width:100%; height:400px; top: 40px; border-bottom: 3px solid #5E5E5E" id="map" class="displays-points radio-3 shadowed-light"></div>
<% end %>
<%= content_for(:classes_for_header, "middle-size") %>

<%= content_for :header do %>
	<div class="mini-header shadow-light rounded-bottom-5">
		<h1><%= t('places.views.index.title') %></h1>
		<ul class="inlined actions-list">
			<li><%= link_to t('places.views.index.new'), new_place_path, :class => "button blue" %></li>
			<li><%= link_to t('places.views.index.search'), places_search_path, :class => "button orange" %></li>
		</ul>
		<div class="separator"></div>
	
		<select id="l-params" class="inlined">
		  <option value="nothing"><%= t('places.views.index.all') %></option>
		  <option value="accessible"><%= t('places.views.index.accessible') %></option>
		  <option value="recent"><%= t('places.views.index.recent') %></option>
		  <option value="popular"><%= t('places.views.index.popular') %></option>
		</select>
	
		<%= render 'categories/all' %>
	</div>
<% end %>

<div id="l-places" class="places">
	<%= render :partial => 'places/unit', :collection => @places, :as => :place %>
</div>

<div id="side-box">
	
	<% unless user_signed_in? %>

		<div class="lgd_in_not">
			<%= link_to t('places.views.index.registration_invitation'), "" %>
		</div>
	<% end %>
</div>

<%= render 'places/searches/results_message' %>