
<%= content_for(:top_container) do %>
	<div style="width:100%; height:300px; top:40px; border-bottom: 3px solid #5E5E5E" id="map" class="hide-address-on-load is-editable displays-points radio-3 shadowed-light"></div>
<% end %>

<%= content_for :header do %>
	<div class="mini-header size-of-300 shadow-light rounded-bottom-5">
		<h1><%= t('places.views.index.title') %><span class="type rounded-5"><%= t('states.new') %></span></h1>
		<ul class="inlined actions-list">
			<li><%= link_to "&larr; #{t('actions.return')}".html_safe, places_path, :class => 'plain' %></li>
		</ul>
	</div>
<% end %>

<p class="address selected-from-map"><%=t('places.views.new.instruction') %></p>

<%= content_for :form_container do %>
	<div class="simple-form rounded-top-5 shadow-light">
		<%= form_for @place do |p| %>
			<div class="styled-form">
				<%= render :partial => 'form', :locals => {:p => p} %>
			</div>
			<%= p.submit t('actions.save'), :class => "button blue to-right" %>
		<% end %>
	</div>
<% end %>