<!DOCTYPE html>
<html>
<head>
  <title>Ciudadio</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="app-messages">
	<%= flash[:notice] %>
</div>

</body>
</html>
