<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "map" %>
	<%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>

<body>
	<script type="text/javascript">
	    //$(function() {
	    //    Wikicleta.setCurrentUser(<%= current_user.to_json.html_safe if !current_user.nil? %>);
	    //});
	</script>
	<%= render 'layouts/shared/left_bar' %>

	<div id="dynamic-bar" class="shadow-light">
		<div class="container">
			<%= yield :dynamic_bar %>
		</div>
		<div class="handle"></div>
	</div>
	
	<div style="width:100%; height:100%;" id="map" class="<%= yield :classes_for_map %> displays-points"></div>
	
	<%= yield %>
</body>

</html>
