<!DOCTYPE html>
<html>
<head>
  <title>Ciudadio : Lugares</title>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

  <%= stylesheet_link_tag    "places" %>
  <%= javascript_include_tag "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/shared/alerts_and_notifications' %>
	
	<div id="header">
		<div class="menu"></div>
		<%= yield :header %>
	</div>
	
	<div id="top-container"><%= yield(:top_container) %></div>	
	<div id="container">
		<%= yield %>
	</div>
	<div id="form-container"><%= yield(:form_container) %></div>	
	


</body>
</html>