<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "settings" %>
  <%= javascript_include_tag "common/base" %>
	<%= yield(:javascripts) %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= render 'layouts/shared/left_bar' %>
<%= render 'shared/notice' %>

<div class="content-container">
	
	<%= yield :back_page %>

	<div id="content">
		<div class="mid-sheet settings">
			<div class="menu shadow-lighter">
				<%= yield :menu %>
			</div>
			<div class="styled-form shadow-light">
				<br/>
				<%= yield %>
			</div>
		</div>
	</div>
</div>


</body>
</html>