<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "welcome" %>
  <%= javascript_include_tag "common/base" %>
	<%= yield(:javascripts) %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= render 'layouts/shared/left_bar' %>
<%= render 'shared/notice' %>

<div class="content-container">
	
	<%= yield :back_page %>

	<div id="content">
		<%= yield %>
	</div>
</div>


</body>
</html>