<h3><%= t('devise.recovering.greeting', :username => @resource.full_name) %></h3>

<span><%= t('devise.recovering.explanation', :email => @resource.email) %></span>
<br/>
<span><%= link_to t('devise.recovering.commit'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></span>

<p><%= t('devise.recovering.disclaimer') %></p>
<div class="separator"></div>
<p><i><%= t('app.firm') %></i></p>
